/cmd/
/Git LFS/
/GitExtensions/
/mingw64/
/SmartGit/
/TortoiseGit/
/home/git-ci/
!/home/git-ci/.gitconfig
/usr/src/
/var/*
!/var/lib
/var/lib/*
!/var/lib/pacman/
/var/local/pacman-mirror/
/bin/
/dev/
/dir
/mingw32/lib/perl5/
/mingw64/lib/perl5/
/proc/
/tmp/
/usr/share/info/dir
/etc/hosts
/etc/mtab
/etc/networks
/etc/services
/etc/protocols
*.pyc
*.pyo
/etc/pacman.d/gnupg/S.*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
.ini
.git
.github
.tmp
.DS_Store
Desktop.ini
venv
env
.venv
.env
venv/
.Trash
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
._*
Thumbs.db
.Spotlight-V100
.Trashes
*.out
node_modules
.sass-cache
.git
.github
desktop.ini
.tmp.drivedownload
.tmp
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.lnk
.
..
